apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../catalog/globals/base
  - ../../../catalog/solutions/data-filtration/v1
  - ../../../catalog/solutions/pii-redaction/v1
  - ../../../catalog/teams/team-payments

replacements:
  - source:
      kind: ConfigMap
      name: hub-name-params
      fieldPath: data.HUB_NAME
    targets:
      - select:
          kind: MdaiHub
          name: mdaihub-template
        fieldPaths:
          - metadata.name
      - select:
          kind: OpenTelemetryCollector
          name: gateway
        fieldPaths:
          - metadata.labels.mydecisive.ai/hub-name

  - source:
      kind: ConfigMap
      name: hub-name-params
      fieldPath: data.HUB_VARS_CM
    targets:
      - select:
          kind: OpenTelemetryCollector
          name: gateway
        fieldPaths:
          - spec.envFrom.0.configMapRef.name

patches:
  - path: patches/hub-name-params-configmap.yaml
  - path: patches/patch-collector-envfrom.yaml
  - path: patches/pii-overrides-configmap.yaml
