apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../../catalog/globals/base
- ../../../../catalog/solutions/data-filtration/v1
- ../../../../catalog/solutions/pii-redaction/v1
- patches/hub-name-params-configmap.yaml
- patches/pii-overrides-configmap.yaml

replacements:
- source:
    kind: ConfigMap
    name: hub-name-params
    fieldPath: data.HUB_NAME
  targets:
  - select:
      kind: MdaiHub
      name: mdaihub-template
    fieldPaths:
    - metadata.name
  - select:
      kind: OpenTelemetryCollector
      name: gateway
    fieldPaths:
    - metadata.labels.[mydecisive.ai/hub-name]
    options:
      create: true

- source:
    kind: ConfigMap
    name: hub-name-params
    fieldPath: data.HUB_VARS_CM
  targets:
  - select:
      kind: OpenTelemetryCollector
      name: gateway
    fieldPaths:
    - spec.envFrom.0.configMapRef.name
    options:
      create: true

- source:
    kind: ConfigMap
    name: hub-name-params
    fieldPath: data.GATEWAY_NAME
  targets:
  - select:
      kind: OpenTelemetryCollector
      name: gateway
    fieldPaths:
    - metadata.name

patches:
- path: patches/hub-spec.yaml
- path: patches/collector-envfrom.yaml
- path: patches/collector-filter.yaml
