name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  lint-tf:
    name: Lint Terraform
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ">= 1.13" # Don't forget to update terraform.tf
          terraform_wrapper: false
      - uses: actions/cache@v4
        name: Cache TFLint Plugins
        with:
          path: ~/.tflint.d/plugins
          key: ${{ github.workflow }}-tflint-${{ hashFiles('terraform/.tflint.hcl') }}
      - uses: terraform-linters/setup-tflint@v5
        name: Setup TFLint
        with:
          tflint_version: v0.59.1
      - name: TFLint Init
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Check Format
        run: terraform fmt -recursive -check
      - name: TFLint
        run: tflint --recursive --config=${{ github.workspace }}/terraform/.tflint.hcl -f compact
